<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H */12 * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /var/jenkins_home/jobs/Home-Assistant/workspace/home-assistant/
git --git-dir=/var/jenkins_home/jobs/Home-Assistant/workspace/home-assistant/.git --work-tree=/var/jenkins_home/jobs/Home-Assistant/workspace/home-assistant/ checkout dev</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd /var/jenkins_home/jobs/Home-Assistant/workspace/home-assistant/
COMMIT=$(git --git-dir=/var/jenkins_home/jobs/Home-Assistant/workspace/home-assistant/.git --work-tree=/var/jenkins_home/jobs/Home-Assistant/workspace/home-assistant/ log | head -n 1 | awk &apos;{print $2}&apos; | sed &apos;s/^\(.......\).*$/\1/g&apos;)
TAG=$(git --git-dir=/var/jenkins_home/jobs/Home-Assistant/workspace/home-assistant/.git --work-tree=/var/jenkins_home/jobs/Home-Assistant/workspace/home-assistant/ tag -l --sort=committerdate | tail -n 1)
IMAGE=&quot;tedsluis/home-assistant:$TAG-$COMMIT&quot;
ssh -o StrictHostKeyChecking=no root@192.168.11.100 &quot;cd /home/jenkins/jobs/Home-Assistant/workspace/home-assistant/; docker build -f /home/jenkins/jobs/Home-Assistant/workspace/home-assistant/Dockerfile --cpuset-cpus 1 -t $IMAGE -t tedsluis/home-assistant:latest .&quot;</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd /var/jenkins_home/jobs/Home-Assistant/workspace/home-assistant/
COMMIT=$(git --git-dir=/var/jenkins_home/jobs/Home-Assistant/workspace/home-assistant/.git --work-tree=/var/jenkins_home/jobs/Home-Assistant/workspace/home-assistant/ log | head -n 1 | awk &apos;{print $2}&apos; | sed &apos;s/^\(.......\).*$/\1/g&apos;)
TAG=$(git --git-dir=/var/jenkins_home/jobs/Home-Assistant/workspace/home-assistant/.git --work-tree=/var/jenkins_home/jobs/Home-Assistant/workspace/home-assistant/ tag -l --sort=committerdate | tail -n 1)
IMAGE=&quot;tedsluis/home-assistant:$TAG-$COMMIT&quot;
ssh -o StrictHostKeyChecking=no root@192.168.11.100 &apos;cat /home/jenkins/jobs/build-home-assistant/workspace/docker.secret | xargs  docker login --username tedsluis --password&apos;
ssh -o StrictHostKeyChecking=no root@192.168.11.100 &quot;docker push $IMAGE&quot;
ssh -o StrictHostKeyChecking=no root@192.168.11.100 &apos;docker push tedsluis/home-assistant:latest&apos;</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>ssh -o StrictHostKeyChecking=no root@192.168.11.100 &apos;docker images --format &quot;table {{.Repository}}\t{{.Tag}}\t{{.ID}}\t{{.CreatedAt}}\t{{.Size}}&quot;&apos;</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>ssh -o StrictHostKeyChecking=no root@192.168.11.100 &apos;docker image prune -a -f&apos;
ssh -o StrictHostKeyChecking=no root@192.168.11.100 &apos;docker container prune -f&apos;
ssh -o StrictHostKeyChecking=no root@192.168.11.100 &apos;docker volume prune -f&apos;
ssh -o StrictHostKeyChecking=no root@192.168.11.100 &apos;docker network prune -f&apos;
ssh -o StrictHostKeyChecking=no root@192.168.11.100 &apos;docker system prune -f&apos;</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>ssh -o StrictHostKeyChecking=no root@192.168.11.100 &apos;docker images --format &quot;table {{.Repository}}\t{{.Tag}}\t{{.ID}}\t{{.CreatedAt}}\t{{.Size}}&quot;&apos;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>