Description=Jenkins Service
After=docker.service
Requires=docker.service network.target
 
[Service]
RestartSec=3
TimeoutStartSec=300
Restart=always
ExecStartPre=-/usr/bin/docker stop -t 2 jenkins-server
ExecStartPre=-/usr/bin/docker rm -f jenkins-server
ExecStartPre=/usr/bin/docker pull jenkins/jenkins:lts
ExecStart=/usr/bin/docker run --name="jenkins-server" \
                              -v /home/jenkins:/var/jenkins_home \
                              -p 8080:8080 \
                              -p 50000:50000 \
                              jenkins/jenkins:lts
ExecStop=-/usr/bin/docker stop -t 2 jenkins-server
ExecStopPost=-/usr/bin/docker rm -f jenkins-server
 
[Install]
WantedBy=multi-user.target
