<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Google Assistant for raspberry pi</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H 1 * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>if [ ! -d &quot;GassistPi&quot; ]; then
     git clone git@github.com:tedsluis/GassistPi.git
else
     echo &quot;repo already exists!&quot;
fi</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd GassistPi
REMOTES=$(git remote -v | wc -l)
if [ &quot;$REMOTES&quot; -lt 4 ]; then
     git remote add upstream https://github.com/shivasiddharth/GassistPi.git
else
     echo &quot;upstream already added!&quot;
fi</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd GassistPi
git fetch upstream</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd GassistPi
git checkout master</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd GassistPi
git merge upstream/master</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd GassistPi
git push</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd GassistPi
git status</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd GassistPi
git checkout development</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd GassistPi
git merge upstream/development</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd GassistPi
git push</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd GassistPi
git status</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>